:root{
    --primary-text-color: ;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}
body{
 /* Главная */

background: #FFFFFF;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
ul{
    list-style: none;
}
/*верхняя линия*/
.header{
    background: #FFFFFF;
}
.web-studio{
/* WebStudio */
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
/* identical to box height */
letter-spacing: 0.03em;
color: #2196F3;
text-decoration: none;
}
.web-studio2{
    color:  #000000;
}
.web-studio3{
    color: #FFFFFF;
}
.studio{
/* Студия */
font-weight: 500;
font-size: 14px;
line-height: 1.14;
color: var(--title-text-color);
text-decoration: none;
}
.studio:hover, 
.studio:focus{
    color: var(--accent-color) ;
}
.studio.current{
color: var(--accent-color);
}
.potfolio.current{
    color: var(--accent-color);
    }

.potfolio{
/* Портфолио */
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color);
text-decoration: none;
}
.potfolio:hover,
.portfolio:focus{
    color: var(--accent-color);
}
.contacts{
/* Контакты */
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--title-text-color);
text-decoration: none;
}
.contacts:hover,
.contacts:focus{
    color: var(--accent-color);
}
.link{
/* info@devstudio.com */
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
}
.link:hover,
.link:focus{
    color: var(--accent-color);
}
.tel{
/* +38 096 111 11 11 */
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
text-decoration: none;
}
.tel:hover,
.tel:focus{
    color: var(--accent-color);
}
/*шапка*/
.header-2{
 background: #2F303A;
}
.btn{
 /* bg */
background: #F5F4FA;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
font-weight: 700;
font-size: 16px;
line-height: 1.8;
cursor: pointer;
font-family: inherit;
color: var(--title-text-color);

}
.btn:hover,
.btn:focus{
   background-color: var(--accent-color);
   color: #F5F4FA;
}
.btn-portfolio{
background: #F5F4FA;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
cursor: pointer;
font-family: inherit;
}
.btn-portfolio:hover,
.btn-portfolio:focus{
    background-color: var(--accent-color);
    color:rgba(255, 255, 255, 1) ;
}
.name-img{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-text-color);
}
.position-img{
 font-size: 16px;
line-height: 1.8;
letter-spacing: 0.03em;
color: #757575;

}
.title{
 /* Эффективные решения для вашего бизнеса */
font-weight: 900;
font-size: 44px;
line-height: 1.36;
/* or 136% */
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
.desc1{
 /* Внимание к деталям */
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-color);
}
.text1{
 /* Идейные соображения, а также начало повседневной работы по формированию позиции. */
font-size: 14px;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: #757575;
}
.desc2{
 /* Пунктуальность */
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-color);
}
.text2{
 /* Задача организации, в особенности же рамки и место обучения кадров влечет за собой. */
font-size: 14px;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: #757575;
}
.desc3{
 /* Планирование */
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-color);
}
.text3{
/* Равным образом консультация с широким активом в значительной степени обуславливает. */
font-size: 14px;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: #757575;
}
.desc4{
/* Современные технологии */
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-color);
}
.text4{
/* Значимость этих проблем настолько очевидна, что реализация плановых заданий. */
font-size: 14px;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: #757575;
}

.title2{
/* Чем мы занимаемся */
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
.image1{
/* img */
background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
mix-blend-mode: normal;
}
.image2{
/* img */
background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);
}
.image3{
/* img */
background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);
}
.title3{
 /* Наша команда */
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
.photo1{
 /* card bg */
background: #FFFFFF;

}
.photo1-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.photo1-position{
    font-size: 16px;
    line-height: 1.2;
   letter-spacing: 0.03em;
    color: #757575; 
}
.photo2{
/* card bg */
background: #FFFFFF;
}
.photo2-name{
font-weight: 500;
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.03em;
color: var(--title-text-color);
}
.photo2-position{
    font-size: 16px;
    line-height: 1.2;
   letter-spacing: 0.03em;
    color: #757575; 
}
.photo3{
    /* card bg */
background: #FFFFFF;
}
.photo3-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-text-color); 
}
.photo3-position{
    font-size: 16px;
    line-height: 1.2;
   letter-spacing: 0.03em;
    color: #757575; 
}
.photo4{
    /* card bg */
background: #FFFFFF;
}
.photo4-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.photo4-position{
    font-size: 16px;
    line-height: 1.2;
   letter-spacing: 0.03em;
    color: #757575; 
}
.footer{
/* Footer bg */
background: #2F303A;
}
.web-studio-footer{
 /* WebStudio */
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
/* identical to box height */
letter-spacing: 0.03em;
color: #2196F3;
}
.location{
    /* г. Киев, пр-т Леси Украинки, 26 */
font-size: 14px;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: #FFFFFF;
text-decoration: none;
font-style:normal;
}
.location:hover,
.location:focus{
    color: var(--accent-color)
}
.link2{
    /* info@example.com */
font-size: 14px;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
font-style:normal;
}

.link2:hover,
.link2:focus{
    color: var(--accent-color);
}
.tel2{
 /* +38 099 111 11 11 */
font-size: 14px;
line-height: 1.7;
/* or 171% */
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
font-style:normal;
}
.tel2:hover,
.tel2:focus{
    color:var(--accent-color);
}